{% extends 'home/base.html' %}
{% block content %}

<!--====== Start user-area-section ======-->
<div class="user-area-section pt-120 pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="user-form">
                    <form>
                        <div class="form_group">
                            {% for p in form %}
                            {{p.label}}
                            {{p}}
                            {% endfor %}
                        </div>
                        <div class="form_group form_checkbox">
                            <input type="checkbox" name="checkbox2" id="checkbox4">
                            <label for="checkbox4"><span></span>Remember me</label>
                        </div>
                        <div class="form_group">
                            <button type="submit" class="main-btn">LOG IN</button>
                            <a href="#">Lost your password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====== End user-area-section ======-->
{% endblock %}