{% extends 'home/base.html' %}
{% block content %}

<!--====== Start user-area-section ======-->

<style>
    .errorlist {
        color: red;
    }
</style>


<h2 style="display: flex; justify-content:center; margin-top: 10%;">Sign Up Here </h2>
<div class="user-area-section pt-50 pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="user-form">
                    <form action="" method="POST">

                        {% csrf_token %}

                        {% include 'home/massages.html' %}




                        <!-- {% if error %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>Hellow {{user.first_name}}</strong> {{error}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        {% endif %} -->

                        <div class="form_group">
                            {% for p in form%}
                            {{p.label}}
                            {{p.errors}}
                            {{p}}

                            {% endfor %}
                        </div>
                        <!-- <div class="form_group">
                            <label>Email address *</label>
                            <input type="email" class="form_control">
                        </div> -->
                        <!-- <div class="form_group">
                            <label>Password *</label>
                            <input type="password" class="form_control">
                        </div> -->
                        <div class="form_text">
                            <p>Your personal data will be used to support your experience throughout this website, to
                                manage access to your account, and for other purposes described in our <a
                                    href="#">privacy policy.</a></p>
                        </div>
                        <div class="form_group">
                            <button type="submit" class="main-btn">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====== End user-area-section ======-->


{% endblock %}